.calender {
  font-size: 1.5rem;
  margin-top: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  margin: auto;
  display: flex;
}

.year {
  display: inline;
  margin-left: 0.3rem;
}

.month {
  display: inline;
  margin-right: 0.3rem;
}

.main {
  width: 40rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.days {
  height: 3.5rem;
  border-bottom: 2px solid black;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  margin: 1rem 0;
  margin: auto;
  display: inline;
}

.dates {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.date {
  margin-top: 0.5rem;
  width: calc(100% / 7);
  text-align: center;
  box-sizing: border-box;
}

.date:nth-child(7n),
.day:nth-child(7n) {
  color: blue;
}

.date:nth-child(7n + 1),
.day:nth-child(7n + 1) {
  color: red;
}

.today {
  border: 2px solid orange;
  background-color: orange;
}
